body {
    margin: 0;
    padding: 0;
    font-family: "MedievalSharp", cursive;
    background-image: url("/GameSite/CardImage/paper2.png"); 
    background-size: cover; /* Cover the entire page */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    height: 100vh; /* Viewport Height */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px; 
    box-sizing: border-box;


}

.game-container {
    width: 80%;
    max-width: 600px; 
    padding: 20px;
    background-color: #ffffff80;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
     display: flex;
    justify-content: space-between;
}
.game-content, .decoding-key {
    padding: 20px;
}

.game-content {
    flex-grow: 1; 
}

.decoding-key {
    width: 300px; 
    height: fit-content;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-left: 20px;
    position: fixed; 
    right: 0; 
    top: 0; 
}


.decoding-key h3, .decoding-key p {
    margin: 10px 0;
}
.challenge {
    background-color: #ffffff81;
    margin: 20px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}



.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    text-align: center; 
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    width: auto; 
    max-width: 80%; 
    text-align: center; 
    display: inline-block; 
    max-width: 80%; 
    width: auto; 
    right: auto; 
    left: auto; 
    margin: 0 auto; 

/*  confetti animation */
@keyframes drop {
    from { transform: translateY(-100vh); }
    to { transform: translateY(100vh); }
}

.confetti {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: #f00;
    animation: drop 1s infinite;
    
}

























